@media (max-width: 1050px) {
  .container {
    max-width: 726px;
  }

  .container-fluid {
    padding-left: max(15px, calc((100% - 696px) / 2));
    padding-right: 0;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .first-title {
    margin-bottom: 10px;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  .second-title {
    font-size: 24px;
  }

  .second-title::after {
    bottom: -13px;
  }

  .header-contacts {
    width: 330px;
  }

  .header-contacts-phone {
    width: 158px;
  }

  .bottom-header {
    padding-top: 18px;
    padding-bottom: 19px;
  }

  .header-container {
    position: relative;
  }

  .header-logo {
    width: 235px;
    height: 47px;
  }

  .header-nav {
    position: fixed;
    top: 52px;
    right: 0;
    padding-top: 90px;
    padding-bottom: 50px;
    padding-left: 26px;
    width: max(290px, 50%);
    height: calc(100vh - 52px);
    background-color: var(--black-brown);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header-nav--active {
    visibility: visible;
    transform: none;
  }

  .burger {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: self-end;
    justify-content: space-between;
    height: 18px;
    width: 22px;
    cursor: pointer;
    outline-offset: 1px;
    outline: 1px solid transparent;
    transition: outline-color 0.3s ease-in-out;
  }

  .burger:focus-visible {
    outline-style: solid;
  }

  .burger:focus {
    outline-color: var(--blue);
  }

  .burger-line {
    height: 2px;
    width: 100%;
    background-color: var(--white);
    transition: background-color 0.3s ease-in-out;
  }

  .burger:hover .burger-line {
    background-color: var(--blue);
  }

  .burger-line:nth-child(2) {
    width: 60%;
  }

  .burger--active .burger-line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger-line:first-child {
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger-line:last-child {
    position: absolute;
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .nav-list {
    align-items: flex-start;
    flex-direction: column;
    height: 310px;
  }

  .nav-link {
    font-size: 16px;
  }

  .first-title-span {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 120%;
  }

  .hero-container {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .hero-text {
    margin-bottom: 45px;
    font-size: 18px;
  }

  .hero-swiper-control {
    bottom: 24px;
  }

  .services-title {
    margin-left: -24px;
  }

  .services-container-fluid {
    padding: 0 max(15px, calc((100% - 696px) / 2));
  }

  .services-swiper {
    margin-bottom: 47px;
  }

  .services-wrapper {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .services-card {
    padding-top: 30px;
    padding-bottom: 40px;
    min-height: 229px;
  }

  .services-card-title {
    line-height: 120%;
  }

  .services-card-text {
    font-weight: 300;
  }

  .services-btn {
    margin-left: 16px;
  }

  .about-company-container {
    justify-content: center;
  }

  .about-company-description {
    width: 100%;
  }

  .about-company-text {
    margin-bottom: 36px;
  }

  .about-company-img-block {
    display: none;
  }

  .lawyers-card {
    max-width: 300px;
  }

  .lawyers-card-description {
    padding-right: 14px;
  }

  .reviews-swiper-top {
    height: 49px;
  }

  .reviews-swiper {
    margin-bottom: 36px;
  }

  .reviews-card {
    max-width: 576px;
  }

  .reviews-card-client-info {
    max-width: 329px;
  }

  .reviews-card-text {
    max-width: 512px;
    height: 105px;
    -webkit-line-clamp: 5;
  }

  .materials-title {
    margin-bottom: 44px;
  }

  .materials-text {
    margin-bottom: 29px;
  }

  .materials-swiper {
    margin-bottom: 46px;
  }

  .materials-card {
    max-width: 336px;
  }

  .materials-card-content {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .materials-card-content-text {
    height: 85px;
    -webkit-line-clamp: 5;
  }

  .materials-btn {
    margin-left: 0;
  }

  .footer-top {
    padding-top: 60px;
  }

  .footer-top-container {
    padding-bottom: 24px;
  }

  .footer-logo {
    height: 62px;
  }

  .footer-top-text {
    display: none;
  }

  .footer-middle {
    padding-top: 24px;
    padding-bottom: 60px;
  }

  .footer-middle-container {
    gap: 26px;
  }

  .footer-middle-list {
    width: 335px;
    height: 203px;
  }

  .footer-middle-item svg {
    margin-right: 16px;
    width: 45px;
    height: 45px;
  }

  .footer-middle-contacts {
    min-height: 35px;
    font-size: 14px;
  }

  .footer-middle-nav {
    display: none;
  }

  .footer-middle-questions {
    width: 334px;
  }
}

@media (max-width: 726px) {
  .container-fluid {
    padding-left: 15px;
  }

  .first-title {
    font-size: 30px;
  }

  .second-title {
    font-size: 20px;
  }

  .second-title::after {
    bottom: -10px;
  }

  .first-title-span {
    font-size: 18px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 150%;
  }

  .services-container-fluid {
    padding-left: 15px;
    padding-right: 0;
  }

  .services-wrapper {
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
  }

  .services-slide-auto {
    width: auto;
    height: auto;
  }

  .services-card {
    width: 340px;
  }

  .reviews-arrow-wrapper {
    display: none;
  }

  .reviews-card {
    padding: 25px 24px;
    max-width: 340px;
  }

  .reviews-card-img {
    width: 50px;
    height: 50px;
  }

  .reviews-card-client-title {
    font-size: 18px;
  }

  .reviews-card-header svg {
    display: none;
  }

  .reviews-card-text {
    height: 189px;
    -webkit-line-clamp: 9;
  }

  .footer-top-container {
    justify-content: center;
  }

  .footer-middle-container {
    flex-direction: column;
    align-items: center;
    gap: 71px;
  }

  .footer-bottom-container {
    flex-direction: column;
    height: 42px;
  }

  /* модальное окно */
  .modal-body {
    width: 290px;
  }

  .modal-form {
    height: 250px;
    width: 100%;
  }

  .modal-form-label {
    align-items: flex-start;
    flex-direction: column;
  }

  .modal-form-span {
    margin-bottom: 10px;
  }

  .modal-form-input {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .container {
    padding: 0 24px;
  }

  .container-fluid {
    padding-left: 25px;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .second-title::after {
    bottom: -14px;
  }

  .subtitle {
    margin-bottom: 24px;
    font-size: 14px;
  }

  .header-contacts {
    width: auto;
  }

  .header-contacts-mail {
    display: none;
  }

  .order-call {
    line-height: 120%;
  }

  .top-header {
    padding-bottom: 16px;
  }

  .hero-swiper-slide {
    background-position: center left;
  }

  .hero-swiper-slide-1,
  .hero-swiper-slide-2,
  .hero-swiper-slide-3 {
    background-image: url(../images/hero-320.webp);
  }

  .hero-container {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .hero-text {
    margin-bottom: 32px;
    font-size: 16px;
  }

  .hero-btn {
    margin-left: -13px;
  }

  .hero-swiper-control {
    display: none;
  }

  .services-title {
    margin-bottom: 29px;
    margin-left: 0;
  }

  .services-container-fluid {
    padding-left: 25px;
  }

  .services-swiper {
    margin-bottom: 30px;
  }

  .services-card {
    padding: 24px 16px 32px;
    width: 250px;
    min-height: 215px;
  }

  .services-card .top-svg {
    margin-bottom: 12px;
  }

  .services-btn {
    margin-left: 0;
  }

  .hover-effect:hover .hover-effect-1 {
    top: 10px;
    left: 10px;
  }

  .hover-effect:hover .hover-effect-2 {
    top: 10px;
    right: 10px;
  }

  .hover-effect:hover .hover-effect-3 {
    bottom: 10px;
    left: 10px;
  }

  .hover-effect:hover .hover-effect-4 {
    bottom: 10px;
    right: 10px;
  }

  .about-company-text {
    margin-bottom: 40px;
  }

  .about-company-btns {
    align-items: center;
    flex-direction: column;
    height: 122px;
    width: auto;
  }

  .lawyers-title {
    margin-bottom: 29px;
  }

  .lawyers-text {
    margin-bottom: 30px;
  }

  .lawyers-card {
    max-width: 250px;
  }

  .lawyers-card-picture {
    height: 235px;
  }

  .lawyers-card-description {
    min-height: 113px;
  }

  .lawyers-card-hover-text {
    margin-bottom: 20px;
  }

  .reviews {
    padding-top: 46px;
  }

  .reviews-container {
    margin-bottom: 37px;
  }


  .reviews-swiper-top {
    height: auto;
  }

  .reviews-title {
    margin-top: 0;
  }

  .reviews-swiper {
    margin-bottom: 24px;
  }

  .reviews-card-header {
    margin-bottom: 14px;
  }

  .reviews-card-client-info {
    margin-left: 16px;
    min-height: 47px;
  }

  .reviews-btns {
    align-items: center;
    flex-direction: column;
    margin-left: -25px;
    height: 114px;
    width: auto;
  }

  .materials-title {
    margin-bottom: 29px;
  }

  .materials-swiper {
    margin-bottom: 54px;
  }

  .materials-card {
    max-width: 250px;
  }

  .materials-card-img-wrapper {
    height: 200px;
  }

  .materials-card-content {
    min-height: 241px;
  }

  .materials-card-content-title {
    font-size: 14px;
  }

  .materials-card-content-text {
    height: 119px;
    -webkit-line-clamp: 7;
  }

  .materials-btn {
    margin-left: 15px;
  }

  .footer-top {
    padding-top: 40px;
  }

  .footer-top-container {
    padding-bottom: 24px;
  }

  .footer-logo {
    max-width: 100%;
    height: auto;
  }

  .footer-middle {
    padding-bottom: 40px;
  }

  .footer-middle-container {
    align-items: flex-start;
  }

  .footer-middle-list {
    max-width: 100%;
    height: 167px;
  }

  .footer-middle-contacts {
    line-height: 140%;
  }

  .footer-middle-questions {
    margin-left: 4px;
    max-width: 100%;
  }
}

@media (max-width: 389px) {
  .container {
    padding: 0 15px;
  }

  .container-fluid {
    padding-left: 15px;
  }

  .top-header {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .header-contacts-phone {
    width: 147px;
  }

  .contacts-link svg {
    width: 16px;
    height: 16px;
  }

  .hero-container {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .hero-btn {
    margin-left: 0;
  }

  .services-container-fluid {
    padding-left: 15px;
  }

  .reviews-card {
    max-width: 290px;
  }

  .reviews-card-img {
    width: 36px;
    height: 36px;
  }

  .reviews-card-client-info {
    min-height: auto;
  }

  .reviews-card-client-title {
    font-size: 16px;
  }

  .reviews-btns {
    margin-left: -15px;
  }

  .materials-btn {
    margin-left: 0;
  }

  .footer-top-container {
    padding-bottom: 24px;
  }

  .footer-middle-consultant-img {
    margin-right: 12px;
    width: 48px;
    height: 48px;
  }

  .footer-middle-consultant-info {
    min-height: auto;
  }

  .footer-middle-consultant-title {
    font-size: 18px;
  }

  .footer-bottom {
    font-size: 12px;
  }

  .modal-bg {
    padding: 15px;
  }
}
