@media (max-width: 1350px) {
  .container {
    max-width: 726px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .header-contacts {
    width: 330px;
  }

  .header-contacts-phone {
    width: 158px;
  }

  .bottom-header {
    padding-top: 18px;
    padding-bottom: 19px;
  }

  .header-container {
    position: relative;
  }

  .header-logo {
    width: 217px;
    height: 45px;
  }

  .header-nav {
    position: absolute;
    top: -18px;
    right: 0;
    padding-top: 50px;
    padding-left: 26px;
    height: 529px;
    width: 290px;
    background-color: var(--black-brown);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header-nav--active {
    visibility: visible;
    transform: none;
  }

  .burger {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: self-end;
    justify-content: space-between;
    height: 18px;
    width: 22px;
    cursor: pointer;
  }

  .burger-line {
    height: 2px;
    width: 100%;
    background-color: var(--white);
  }

  .burger-line:nth-child(2) {
    width: 60%;
  }

  .burger--active .burger-line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger-line:first-child {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger-line:last-child {
    position: absolute;
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .nav-list {
    align-items: flex-start;
    flex-direction: column;
    height: 234px;
  }

  .nav-link {
    font-size: 16px;
  }

  .hero {
    height: 529px;
  }

  .hero-container {
    padding-top: 148px;
    height: 529px;
  }

  .first-title {
    margin-bottom: 10px;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  .first-title-span {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 120%;
  }

  .second-title {
    font-size: 24px;
  }

  .second-title::after {
    bottom: -13px;
  }

  .subtitle {
    width: 696px;
  }

  .hero-text {
    margin-bottom: 45px;
    font-size: 18px;
  }

  .hero-swiper-control {
    bottom: 24px;
    width: 696px;
  }

  .services-title {
    margin-left: -24px;
  }

  .services-wrapper {
    grid-template-rows: repeat(3, 229px);
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 47px;
  }

  .services-card {
    padding-top: 30px;
    padding-bottom: 40px;
    height: 229px;
  }

  .services-card-title {
    line-height: 120%;
  }

  .services-card-text {
    font-weight: 300;
  }

  .services-btn {
    margin-left: 16px;
  }

  .about-company-wrapper {
    grid-template-columns: 696px;
    gap: 0;
  }

  .about-company-img {
    display: none;
  }

  .about-company-text {
    margin-bottom: 36px;
    width: 100%;
  }

  .lawyers {
    padding-bottom: 58px;
  }

  .lawyers-container {
    max-width: 100%;
  }

  .lawyers-swiper {
    margin-left: clamp(0.313rem, -20.495rem + 45.79vw, 3.375rem);
    margin-right: 0;
  }

  .lawyers-card-wrapper {
    width: 300px;
  }

  .slide-auto {
    width: auto;
  }

  .reviews-container {
    margin-left: clamp(0.313rem, -20.495rem + 45.79vw, 3.375rem);
    margin-right: 0;
    max-width: 100%;
  }

  .reviews-swiper-top {
    height: 49px;
    width: 100%;
  }

  .reviews-arrow-wrapper {
    margin-right: 54px;
  }

  .reviews-wrapper {
    margin-bottom: 36px;
    height: 265px;
  }

  .reviews-card {
    height: 265px;
    width: 576px;
  }

  .reviews-card-client-info {
    height: 51px;
    width: 329px;
  }

  .reviews-card-text {
    -webkit-line-clamp: 5;
  }

  .materials-container {
    max-width: 100%;
  }

  .materials-title {
    margin-bottom: 44px;
  }

  .materials-card {
    width: 336px;
  }

  .materials-text {
    margin-bottom: 29px;
  }

  .materials-swiper {
    margin-bottom: 46px;
    margin-left: clamp(0.313rem, -20.495rem + 45.79vw, 3.375rem);
    margin-right: 0;
  }

  .materials-card-content {
    height: 211px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .materials-card-content-text {
    -webkit-line-clamp: 5;
  }

  .materials-btn {
    margin-left: 0;
  }

  .footer-top {
    padding-top: 60px;
  }

  .footer-top-container {
    padding-bottom: 24px;
  }

  .footer-logo {
    width: 276px;
  }

  .footer-top-text {
    display: none;
  }

  .footer-middle {
    padding-top: 24px;
    padding-bottom: 60px;
  }

  .footer-middle-list {
    margin-right: 26px;
    height: 203px;
    width: 335px;
  }

  .footer-middle-item svg {
    margin-right: 16px;
    height: 45px;
    width: 45px;
  }

  .footer-middle-contacts {
    font-size: 14px;
  }

  .footer-middle-nav {
    display: none;
  }

  .footer-middle-questions {
    width: 334px;
  }
}

@media (max-width: 726px) {
  .container {
    max-width: 540px;
  }

  .header-contacts-mail {
    display: none;
  }

  .first-title {
    font-size: 30px;
  }

  .first-title-span {
    font-size: 18px;
  }

  .second-title {
    font-size: 20px;
    font-weight: 800;
  }

  .second-title::after {
    bottom: -10px;
  }

  .subtitle {
    width: 510px;
  }

  .hero-text {
    width: auto;
    font-size: 16px;
    line-height: 150%;
  }

  .hero-swiper-control {
    width: 510px;
  }

  .services-container {
    max-width: 100%;
  }

  .services-swiper {
    margin-left: 5px;
    margin-right: 0;
  }

  .services-wrapper {
    grid-template-rows: 229px;
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
  }

  .services-slide-auto {
    width: auto;
  }

  .services-card {
    width: 336px;
  }

  .about-company-wrapper {
    grid-template-columns: 510px;
    grid-template-rows: auto;
  }

  .about-company-span {
    font-weight: 900;
  }

  .lawyers-container {
    max-width: 100%;
  }


  .reviews-container {
    max-width: 100%;
  }

  .reviews-wrapper {
    height: 303px;
  }

  .reviews-arrow-wrapper {
    display: none;
  }

  .reviews-card {
    padding: 24px;
    height: 303px;
    width: 340px;
  }

  .reviews-card-client-info {
    width: 226px;
  }

  .reviews-card-img {
    height: 50px;
    width: 50px;
  }

  .reviews-card-client-title {
    font-size: 18px;
  }

  .reviews-card-header svg {
    display: none;
  }

  .reviews-card-text {
    -webkit-line-clamp: 9;
  }

  .materials-container {
    max-width: 100%;
  }

  .footer-middle-container {
    flex-direction: column;
  }

  .footer-middle-list {
    margin-bottom: 45px;
  }

  .footer-bottom-container {
    flex-direction: column;
    height: 74px;
  }

  /* модальное окно */
  .modal-body {
    width: 290px;
  }

  .modal-form {
    height: 250px;
    width: 100%;
  }

  .modal-form-label {
    align-items: flex-start;
    flex-direction: column;
  }

  .modal-form-span {
    margin-bottom: 10px;
  }

  .modal-form-input {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 372px;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .first-title {
    margin-left: -1px;
  }

  .second-title {
    font-weight: 700;
  }

  .second-title::after {
    bottom: -14px;
  }

  .subtitle {
    margin-bottom: 24px;
    font-size: 14px;
    width: 342px;
  }

  .header-contacts {
    width: auto;
  }

  .order-call {
    line-height: 120%;
  }

  .bottom-header {
    top: 51px;
  }

  .header-nav {
    height: 486px;
  }

  .hero {
    height: 486px;
  }

  .hero-container {
    padding-top: 142px;
    height: 486px;
  }

  .hero-text {
    margin-bottom: 32px;
    font-size: 16px;
  }

  .hero-btn {
    margin-left: -16px;
  }

  .hero-swiper-control {
    display: none;
  }

  .services {
    padding-top: 42px;
  }

  .services-container {
    max-width: 100%;
  }

  .services-title {
    margin-bottom: 29px;
    margin-left: 0;
  }

  .services-swiper {
    margin-left: 9px;
  }

  .services-wrapper {
    grid-template-rows: 215px;
    margin-bottom: 30px;
  }

  .services-card {
    padding: 24px 16px 32px;
    width: 250px;
    height: 215px;
  }

  .services-card .top-svg {
    margin-bottom: 12px;
  }

  .services-btn {
    margin-left: 0;
  }

  .hover-effect:hover .hover-effect-1 {
    top: 10px;
    left: 10px;
  }

  .hover-effect:hover .hover-effect-2 {
    top: 10px;
    right: 10px;
  }

  .hover-effect:hover .hover-effect-3 {
    bottom: 10px;
    left: 10px;
  }

  .hover-effect:hover .hover-effect-4 {
    bottom: 10px;
    right: 10px;
  }

  .about-company-wrapper {
    grid-template-columns: 342px;
  }

  .about-company-text {
    margin-bottom: 40px;
  }

  .about-company-btns {
    align-items: center;
    flex-direction: column;
    height: 122px;
    width: auto;
  }

  .lawyers {
    padding-top: 41px;
  }

  .lawyers-container {
    max-width: 100%;
  }

  .lawyers-swiper {
    margin-left: 9px;
  }

  .lawyers-title {
    margin-bottom: 29px;
  }

  .lawyers-text {
    margin-bottom: 30px;
  }

  .lawyers-card-wrapper {
    width: 250px;
  }

  .lawyers-card-picture {
    height: 235px;
  }

  .lawyers-card-description {
    height: 113px;
  }

  .lawyers-card-hover-text {
    margin-bottom: 20px;
  }

  .reviews {
    padding-top: 46px;
  }

  .reviews-container {
    margin-left: 9px;
    max-width: 100%;
  }

  .reviews-wrapper {
    margin-bottom: 21px;
  }

  .reviews-swiper-top {
    margin-bottom: 39px;
    height: auto;
  }

  .reviews-title {
    margin-top: 0;
  }

  .reviews-card-header {
    margin-bottom: 14px;
  }

  .reviews-card-client-info {
    height: 47px;
  }

  .reviews-btns {
    align-items: center;
    flex-direction: column;
    margin-left: -8px;
    height: 114px;
    width: auto;
  }

  .materials {
    padding-top: 41px;
  }

  .materials-container {
    max-width: 100%;
  }

  .materials-title {
    margin-bottom: 29px;
  }

  .materials-swiper {
    margin-bottom: 54px;
    margin-left: 9px;
    height: 443px;
  }

  .materials-card {
    width: 250px;
  }

  .materials-card-img-wrapper {
    height: 200px;
  }

  .materials-card-content {
    height: 241px;
  }

  .materials-card-content-title {
    font-size: 14px;
  }

  .materials-card-content-text {
    -webkit-line-clamp: 7;
  }

  .materials-btn {
    margin-left: 15px;
  }

  .footer-top {
    padding-top: 40px;
  }

  .footer-top-container {
    margin-left: 47px;
  }

  .footer-middle {
    padding-bottom: 40px;
  }

  .footer-middle-list {
    margin-bottom: 40px;
    margin-right: 0;
    height: 167px;
  }

  .footer-middle-contacts {
    height: 35px;
  }

  .footer-middle-questions {
    margin-left: 4px;
  }

  .footer-bottom-container {
    height: 42px;
  }
}

@media (max-width: 372px) {
  .container {
    max-width: 320px;
  }

  .subtitle {
    width: 290px;
  }

  .hero-container {
    padding-top: 105px;
  }

  .services-swiper {
    margin-left: 0;
  }

  .about-company-wrapper {
    grid-template-columns: 290px;
  }

  .lawyers-swiper {
    margin-left: 0;
  }

  .reviews-container {
    margin-left: 0;
  }

  .reviews-card {
    width: 290px;
  }

  .reviews-card-client-info {
    width: 185px;
  }

  .reviews-card-header picture {
    margin-right: 5px;
  }

  .reviews-card-client-title {
    font-size: 16px;
  }

  .materials-swiper {
    margin-left: 0;
  }

  .footer-top-container {
    margin-left: 0;
  }

  .footer-middle-list {
    width: 290px;
  }

  .footer-middle-contacts {
    height: auto;
  }

  .footer-middle-questions {
    margin-left: 0;
    width: 290px;
  }

  .footer-middle-consultant-info {
    min-height: 51px;
    height: auto;
  }

  .footer-middle-consultant-title {
    font-size: 18px;
  }
}
